body{
    text-align: center;
    background: #222;
    color: #fff;
    box-sizing: border-box;
    padding: 2rem;
    scroll-behavior: smooth;
}

.emojis:hover {
    background: rgb(17, 113, 158);
    transform: scale(1.05);
}